* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #444;
    margin-left: 50px;
    margin-right: 50px;
}

main {
    margin: 0 50px 50px;
}

.works {
    padding: 0px 100px 0px 100px;
}

header{
    height: 155px;
    align-items: center; 
    text-align: center;
    width: -webkit-fill-available;
    justify-content: center;
    padding-top: 20px;
    /* The sticky class is added to the header with JS when it reaches its scroll position */
    
    top: 0;
    
}

.sticky + .content {
    padding-top: 102px;
  }

h1 {
    
    font-family: 'Maven Pro', monospace;
    letter-spacing: 4px;
}

h2 {
    font-family: 'Maven Pro', monospace;
    font-weight: 400;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h5 {
    margin-top: 10px;
}

::selection {
    background: #D2B5DC; /* WebKit/Blink Browsers */
}

.sun {
    width: 80px;
}

.image-box {
    position: relative;
    padding-top: 20px;
}
.image-box .sun-hover {
    position: absolute;
    top: 0;
    display: none;
}

.image-box:hover .sun-hover {
    display: block;
    align-items: center;
}

.flex-header {
    display: flex;
    list-style: none;
    justify-content: space-around;

}

.centralize-header {
    justify-content: center;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

.links-menu {
    color: #232946;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Maven Pro', monospace;
    font-weight: 400;
    padding-right: 30px;
    padding-left: 30px
}

a {
    color: #7564DB;
    text-decoration: none;
}

a:hover{
    color: #D2B5DC;
}

.presentation {
    /*width: 90%;*/
    /*min-height: 80vh;*/
    align-items: center;
}

.introduction {
    flex: 1;
    margin-left: 100px;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #3132D4, rgb(204, 174, 230));
    -webkit-text-fill-color: transparent;
}
.intro-text p {
    margin-top: 20px;
    font-size: 18px;
    color: #232946;
}
.cta {
    padding: 20px 20px 20px 20px;
    font-family: 'Maven Pro', monospace;
}
.cta-select {
    border-radius: 10px;
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: block;
    width: fit-content;
    background-color: #7564DB;
    font-family: 'Maven Pro', sans-serif;
    color: white;
}

a.cta:hover {
    background-color: #9387DC;
    color: white;
}

button:hover {
    background-color: #EEBBC3;
    color: white;
} 

button:focus {
    background-color: #D47F8C;
}

/*.button-center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.cover {
    text-align: center;
}

.img-cover {
    border-radius: 5px;
}

ul {
    list-style-position: inside;
}

.name-portflio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 40px;
}

.center-size {
    size: 18px !important;
    color: #424242;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

.work-box {
    margin: auto;
    background: #A0AFF8;
    border-radius: 10px;
    width: 792px;
    height: 190px;
    margin-bottom: 30px;
    margin-top: 100px;
    position: relative;
}

.first {
    margin-top: 50px;
}

.work-box:hover {
    opacity: 0.7;
}

#my-Img {
    border-radius: 10px;
    position: absolute;
}

.box-title {
    padding: 30px;
    text-align: left;
    margin-top: 0 !important;
    position: absolute;
    color: #232946;
}

.box-description {
    text-align: left;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    position: absolute;
    padding: 30px;
    bottom: 0;
}

/*SEARCH STYLE*/

form {
    background-color: #4654e1;
    width: 200px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

::placeholder {
    color: #fff;
    opacity: 0.7; 
  }

#search {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
.searching {
    color: #fff;
    fill: currentColor;
    width: 40px;
    height: 40px
  }

.divider {
    width: 20px;
    border-top: 3px solid #A0AFF8;
    margin: auto;
    margin-bottom: 70px;
    border-radius: 5px;
    margin-top: 10px;
}

/* ILLUSTRATION PAGE STYLE */

.title-page {
    margin-top: 70px;
    font-size: 32px;
    font-weight: lighter;
    text-align: left;
    color: #232946;
}

.job-title {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #232946;
}

.heading-on-job {
    
    margin-top: 50px;
    margin-bottom: 20px;
}

.ilustra {
    width: 100%;
}

.horizontal-slider {
    display: block;
    width: 100%;
    overflow-y: scroll;
}

.slider-container {
    display: block;
    white-space: nowrap;
}

.item {
    display: inline-block;
    margin-right: 10px;
}

.item img {
    width: 150px;
}

.foot {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
}

.foot-style {

}

.about-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-center {
    text-align: center;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 50px;
  }


  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 100%;

  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

/* RESPONSIVE */

@media screen and (max-width: 1000px) {

    .img-cover {
        width: 100%;
    }

    .work-box {
        width: 100%;
        height: 0;
        padding-bottom: 20%;
    }

}

@media screen and (max-width: 800px) {
    
    .box-title {
        padding: 30px;
        text-align: left;
        margin-top: 0 !important;
        position: absolute;
    }
    
    .box-description {
        text-align: left;
        margin-top: 10px !important;
        margin-bottom: 0px !important;
        position: absolute;
        padding-left: 20px;
        padding-bottom: 0px;
        bottom: 0;
    }

    .works {
        padding: 0px 50px 0px 50px;
    }
}


@media screen and (max-width: 600px) {

    body {
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    main {
        margin: 0;
    }

    .img-cover {
        width: 100%;
    }
    .foot-style {
        font-size: 12px;
    }

    .work-box {
        width: 100%;
    }

    .works {
        padding: 0px 10px 0px 10px;
    }

    .title-page {
        margin-top: 50px;
        font-size: 26px;
        font-weight: lighter;
        text-align: center;
        color: #232946;
    }
    .links-menu {
        padding-right: 15px;
        padding-left: 15px
    }
}   

@media screen and (max-width: 470px) {
    
    .box-title {
        font-size: 18px;
        padding: 20px;
        text-align: left;
        margin-top: 0 !important;
        position: absolute;
    }


}